$baseColor: #1890ff;
@import '~antd/dist/antd.css';
@import "./Comment.scss";
@import './Form.scss';

h1,
h2,
h3,
h4 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: calc(16px + 1vmin);
  color: #fff;
  background-color: #282c34;

  .App-sidebar {
    width: 220px;
    padding: 0 10px;
    border-right: 1px solid #61dafb;
    text-align: center;
    font-size: calc(10px + 1vmin);

    .App-logo {
      height: 20vmin;
      pointer-events: none;
    }

    .logo-rotate {
      animation: App-logo-spin infinite 30s linear;
    }
  }

  .App-main {
    width: calc(100% - 220px);
    padding: 0 20px;

    .Main-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      line-height: 50px;
      margin-bottom: 10px;
      border-bottom: 1px solid #61dafb;

      .Login-btn {
        margin-left: 10px;
      }
    }
  }

  .App-link {
    color: #61dafb;
  }

  .my-button {
    margin-left: 20px;
  }

  .list-box {
    margin-left: 2vw;
    margin-top: 2vh;
    color: #61dafb;
  }

  .Fancy-border {
    width: 300px;
    height: 100px;
    text-align: center;
    border: 1px solid $baseColor;
  }
}