select {
  width: 30%;
  color: #000;
}

[type="submit"] {
  width: 80px;
  height: 32px;
  border-radius: 3px;
  outline: none;
  border: none;
  letter-spacing: 3px;
  color: #fff;
  background-color: $baseColor;
  cursor: pointer;
}

.My-form {
  input {
    margin-left: 10px;
  }
}