@import '~antd/dist/antd.css';

.App {
  position: relative;
  color: #fff;
  background-color: #282c34;
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4 {
    color: #fff;
  }

  .App-logo {
    animation: App-logo-spin infinite 30s linear;
    height: 20vmin;
    pointer-events: none;
  }


  .App-header {
    position: absolute;
    width: 200px;
    text-align: center;
    font-size: calc(10px + 1vmin);
  }

  .Content {
    margin-left: 300px;

    .content-header {
      line-height: 50px;
    }

  }

  .App-link {
    color: #61dafb;
  }

  .my-button {
    margin-left: 20px;
  }

}

a {
  text-decoration: none;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}